 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 116px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px auto;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/leon-pauleikhoff-eHo9sAfMN6Q-unsplash.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 313px;
}

.u-section-2 .u-text-1 {
  margin: 99px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 610px;
}

.u-section-3 .u-slider-1 {
  min-height: 480px;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/joecalih-1Uwcoo-ttjY-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 103px 0 0;
}

.u-section-3 .u-carousel-item-2 {
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 50px;
}

.u-section-3 .u-image-2 {
  width: 508px;
  height: 440px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -404px 0 0 541px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/climate.jpg");
  background-position: 50% 50%;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 100px 0 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/sutirta-budiman-H9CUOsPXBjw-unsplash.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-text-4 {
  margin: -30px -50px 0;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/KEN_787_8_vw35_BNNR_MR_0918_315391-scaled-1.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-image-6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/pejwvknmpsbsf3zeb615dae357293b.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-text-6 {
  margin: 51px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-carousel-item-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 341px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 21px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 172px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -45px;
    right: auto;
    position: absolute;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -43px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 559px;
    margin-top: 64px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 277px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -241px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-5 {
    margin-right: 106px;
  }

  .u-section-3 .u-carousel-control-1 {
    padding: 10px;
  }

  .u-section-3 .u-carousel-control-2 {
    padding: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-bottom: 52px;
  }
}